@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab&display=swap');
.esas{
    background: #EFEFEF;
    width: 100%;
    height: 900px;
    


}
.basliq{
    
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 82px;
padding: 30px;
margin-bottom:0 ;

}
.basliq h2{
    padding-left: 95px;
    margin-top: 20px;
    padding-top: 20px;
}
.ikinci{

    margin-top: 0;
    margin: 50px;
    width: 791px;
height: 451px;
margin-left: 125px;

background: #FFFFFF;
box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
.bas{
    margin-top:0 ;
    padding: 40px 46px 208px 45px;
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;


color: #000000;


}
#img{
    margin-top: -300px;
    padding-left: 26px;
    padding-bottom: 40px;
    width: 190px;
    height: 169px;
}
.ch{
margin-top: -150px;  
padding-left: 250px;  
font-weight: 700;
font-size: 30px;
line-height: 101.38%;
padding-bottom: 40px;
}
#img1{
margin-top: -130px;
padding-left: 250px;
    width: 32px;
height: 31px;
padding-bottom: 30px;
}
.yan{
    background: #9DC9C8;
    height: 900px;
    margin-top: -50px;

}

.hea{
padding-top: 200px;
padding-left: 130px;
    font-weight: 700;
font-size: 65px;
line-height: 101.38%;
color: #000000;
width: 908px;
height: 66px;


}
.dord{
    width: 170px;
height: 32px;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 101.38%;
padding-left: 130px;

}
.besh{
    font-family: 'Roboto Slab';
    padding-left: 130px;
    padding-top: 30px;

    width: 520px;
height: 181px;
    font-style: normal;
font-weight: 300;
font-size: 110px;
line-height: 101.38%;
color: black;
}
.alti{
    font-family: 'Roboto Slab';
    padding-left: 130px;
    padding-top: 40px;
    width: 450px;
height: 32px;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 101.38%;
color: black;
}
.yeddi{
    width: 320px;
height: 70px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 101.38%;
color: black;
padding-top: 19px;
padding-left: 130px;

}
.sekkiz{
    padding-left: 590px;
padding-top: 40px;



    width: 322px;
height: 32px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 101.38%;
margin-top: -159px;
}
.dokkuz{
    padding-left: 590px;
padding-top: 40px;
margin-top: -20px;

    width: 294px;
height: 70px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 101.38%;
}
@media (max-width: 834px) {
    .esas{
        background: #EFEFEF;
        width: 60%;
        height: 900vh;
        
    
    
    }
    .basliq{
        
        font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 82px;
    padding: 30px;
    margin-bottom:0 ;
    
    }
    .basliq h2{
        padding-left: 95px;
        margin-top: 20px;
        padding-top: 20px;
    }
    .ikinci{
    
        margin-top: 0;
        margin: 50px;
        width: 791px;
    height: 451px;
    margin-left: 125px;
    
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    }
    .bas{
        margin-top:0 ;
        padding: 40px 46px 208px 45px;
        font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    
    
    color: #000000;
    
    
    }
    #img{
        margin-top: -300px;
        padding-left: 26px;
        padding-bottom: 40px;
        width: 190px;
        height: 169px;
    }
    .ch{
    margin-top: -150px;  
    padding-left: 250px;  
    font-weight: 700;
    font-size: 30px;
    line-height: 101.38%;
    padding-bottom: 40px;
    }
    #img1{
    margin-top: -130px;
    padding-left: 250px;
        width: 32px;
    height: 31px;
    padding-bottom: 30px;
    }
    .yan{
        background: #9DC9C8;
        height: 900px;
        margin-top: -50px;
    
    }
    
    .hea{
    padding-top: 200px;
    padding-left: 130px;
        font-weight: 700;
    font-size: 65px;
    line-height: 101.38%;
    color: #000000;
    width: 908px;
    height: 66px;
    
    
    }
    .dord{
        width: 170px;
    height: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 101.38%;
    padding-left: 130px;
    
    }
    .besh{
        font-family: 'Roboto Slab';
        padding-left: 130px;
        padding-top: 30px;
    
        width: 520px;
    height: 181px;
        font-style: normal;
    font-weight: 300;
    font-size: 110px;
    line-height: 101.38%;
    color: black;
    }
    .alti{
        font-family: 'Roboto Slab';
        padding-left: 130px;
        padding-top: 40px;
        width: 450px;
    height: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 101.38%;
    color: black;
    }
    .yeddi{
        width: 320px;
    height: 70px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 101.38%;
    color: black;
    padding-top: 19px;
    padding-left: 130px;
    
    }
    .sekkiz{
        padding-left: 590px;
    padding-top: 40px;
    
    
    
        width: 322px;
    height: 32px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
    margin-top: -159px;
    }
    .dokkuz{
        padding-left: 590px;
    padding-top: 40px;
    margin-top: -20px;
    
        width: 294px;
    height: 70px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 101.38%;
}
}
